.form {
    width: 30%;
    height: max-content;
    margin: auto;
    background-color: #b6d3a8;
    color: #fff;
    padding: 1.5rem;
    margin-top: 5.2rem;
    border-radius: 5%;
    font-family: Roboto, sans-serif;
    box-shadow: 10px 11px #7b9776;
}

.title {
    font-size: 1.8rem;
    font-weight: bold;
}

.login-form {
    padding: 0.8rem;
}
  
.form-field {
    display: inline-block;
    padding: 0.4rem;
    margin-top: 1.5rem;
    transition: all 0.2s ease-in-out;
}
  
.form-error {
    display: block;
    color: red;
    font-size: 0.9em;
    font-weight: bolds;
}
  
.button {
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    padding: 0.5rem;
    border-radius: 5%;
}

.button:hover {
    cursor: pointer;
    background-color: #7b9776;
    color: #fff;
}

.signup-click {
    font-weight: bold;
    color: #7b9776;
}

.signup-click:hover {
    cursor: pointer;
    color: #fff;
}