.profile-container {
    background-color: #b6d3a8;
    margin: auto;
    height: max-content;
    width: 40%;
    color: #fff;
    padding: 1.5rem;
    margin-top: 5.2rem;
    border-radius: 5%;
    font-family: Roboto, sans-serif;
    box-shadow: 10px 11px #7b9776;
    align-items: center;
    justify-content: center;
}

.edit-btn {
    cursor: pointer;
    border: none;
    background: none;
    margin-left: 0.4rem;
}

.edit-btn:hover {
    color: #fff;
}

.delete-btn {
    cursor: pointer;
    border: none;
    color: #da5a54;
    background-color: #fff;
    font-size: 1rem;
    border-radius: 5%;
}

.delete-btn:hover {
    background-color: #da5a54;
    color: #fff;
}

.modal-overlay {
    background: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto, sans-serif;
}
  
.modal-content {
    width: 90%;
    max-width: 500px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}
  
.close-btn {
    padding: 5px;
    font-size: 1.5rem;
    float: right;
    cursor: pointer;
    background: none;
    border: none;
}  
.confirm-btn {
    cursor: pointer;
    background: none;
    border: none;
    color: #7b9776;
    font-weight: bold;
    font-size: 1.2rem;
}

.name-input {
    margin: 0.3rem;
    padding: 0.3rem;
}

.name {
    font-size: 1.5rem;
}

.historic {
    width: 70%;
    background-color: #fff;
    color: #000;
    margin: 0;
}

.items {
    align-items: center;
}